header{
	background-position:right;
	background-image:url("../images/banner001.jpg");
	padding:1px 50px 1px 50px;
}

#encabezado{
	font-family:sonto;
	font-size:40px;
	text-shadow: 1px 1px 10px black;
	color:#950BBD;
	margin:0px auto;
}

#subtitulo{
	font-family:clemente;
	font-size:10px;
	margin:0px auto;
	width:15%;
	text-shadow: 5px 5px 8px #C2D2F2;	
	color:white;
	background-color:rgba(65, 133, 224, 0.6);
	transform:rotate(-1deg);
}

.consultas{
	text-align:center;
	font-family:"clemente";
	background-image:url("../images/banner001.jpg");
	background-position:right;
	padding:20px;
	width:100%;
	margin:0px;
}